*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: .7rem;
}

body {
    background-image: linear-gradient(to right bottom, #1f67d3, #008fe5, #00aabc, #00bc73, #92c227);
    background-repeat: no-repeat;
     background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    color:whitesmoke;
    flex-wrap: wrap;
}


.container {
    margin: 0 auto;
    width: 50vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: .4rem;
}



.question {
    margin: 0 auto;
    width: 100%;
    min-height: 10%;
    margin-bottom: .1rem;
    background-color:rgba(0, 0, 0, 0.5);
    
    
}

.answers {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }


.answers :hover {
    background-color:rgba(0, 0, 0, 0.7);

}

.answer {
    margin-bottom: .1rem;
    background-color:rgba(0, 0, 0, 0.5);
    width: 100%;
    
}

.answers div {
    cursor: pointer;
    text-align: justify;
    padding: .4rem;
}


.postivie {
    color:green;
}

.negative {
    color:red;
}

.next-question {
    margin: 0 auto;
    background-color:rgba(0, 0, 0, 0.5);
    border: none;
    padding: .2rem;
    color: aquamarine;
    cursor: pointer;
    border-radius: 8px;
}

.quiz {
    text-align: center;
}