*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to right bottom, #1f67d3, #008fe5, #00aabc, #00bc73, #92c227);
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    color:whitesmoke;
    flex-wrap: wrap;
}


.container {
    width: 66vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.question {
    margin: 0 auto;
    width: 80%;
    min-height: 50%;
    margin-bottom: .2rem;
    background-color:rgba(0, 0, 0, 0.5);
    padding: .4rem;
    
}

.answers {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;

}

.answers :hover {
    color:#008fe5;
    background-color:rgba(0, 0, 0, 0.7)


}

.answer {
    margin-bottom: .1rem;
    background-color:rgba(0, 0, 0, 0.5)
}

.answers div {
    cursor: pointer;
    text-align: justify;
    padding: .4rem;
}


.postivie {
    color:green;
}

.negative {
    color:red;
}

.next-question {
    margin: 0 auto;
    background-color:rgba(0, 0, 0, 0.5);
    border: none;
    padding: .4rem;
    color: aquamarine;
    cursor: pointer;
    border-radius: 8px;
}

.next-question:hover {
    background-color:rgba(0, 0, 0, 0.8);
}

.quiz {
    text-align: center;
}